extends ../layout-admin

block content
  div(class="container")
    div(class="page-title")
      h3.page-header Profile Information
    div(class="row")
      div(class="col-lg-12")
        div(class="card")
          div(class="card-header h5") Basic Information
          div(class="card-body")
            form(action='/account/profile' method='POST')
              input(type='hidden' name='_csrf', value=_csrf)
              div(class="form-group row")
                label.col-sm-2.font-weight-bold(for='email') Email
                div(class="col-sm-6")
                  input.form-control(type='email' name='email' id='email', value=user.email, autocomplete='email')
              div(class="form-group row")
                label.col-sm-2.font-weight-bold(for='profilename') Profile Name
                div(class="col-sm-6")
                  input.form-control(type='text' name='profilename' id='profilename', value=user.profile.name, autocomplete='profilename')

              div(class="form-group row")
                label.col-sm-2.font-weight-bold(for='gender') Gender
                div(class="col-sm-6")
                  .form-check.form-check-inline
                    input(type='radio' class='form-check-input' checked=user.profile.gender == 'male' name='gender' value='male' data-toggle='radio')
                    label.form-check-label Male
                  .form-check.form-check-inline
                    input(type='radio' class='form-check-input' checked=user.profile.gender == 'female' name='gender' value='female' data-toggle='radio')
                    label.form-check-label Female
                  .form-check.form-check-inline
                    input(type='radio' class='form-check-input' checked=user.profile.gender == 'other' name='gender' value='other' data-toggle='radio')
                    label.form-check-label Other

              div(class="form-group row")
                label.col-sm-2.font-weight-bold(for='fname') First Name
                div(class="col-sm-4")
                  input.form-control(type='text' name='fname' id='fname', value=user.userdetails.firstname, autocomplete='fname')
                label.col-sm-2.font-weight-bold(for='lname') Last Name
                div(class="col-sm-4")
                  input.form-control(type='text' name='lname' id='lname', value=user.userdetails.lastname, autocomplete='lname')

              div(class="form-group row")
                label.col-sm-2.font-weight-bold(for='phone') Phone Number
                div(class="col-sm-4")
                  input.form-control(type='phone' name='phone' id='phone', value=user.userdetails.phone, autocomplete='phone')
                label.col-sm-2.font-weight-bold(for='location') Location
                div(class="col-sm-4")
                  input.form-control(type='text' name='location' id='location', value=user.address.location, autocomplete)

              div(class="form-group row")
                label.col-sm-2.font-weight-bold(for='nearby') Nearby
                div(class="col-sm-4")
                  input.form-control(type='text' name='nearby' id='nearby', value=user.address.nearby, autocomplete)
                label.col-sm-2.font-weight-bold(for='city') City
                div(class="col-sm-4")
                  input.form-control(type='text' name='city' id='city', value=user.address.city, autocomplete)

              div(class="form-group row")
                label.col-sm-2.font-weight-bold(for='gravatar') Gravatar
                div(class="col-sm-6")
                  img(src=user.gravatar(), class='profile' width='100' height='100')

              div(class="form-group")
                .offset-sm-2.col-sm-8.pl-0
                  button.btn.btn.btn-primary(type='submit')
                    i.fa.fa-pencil-alt.fa-sm
                    span    Update Profile

        div(class="card")
          div(class="card-header h5") Change Password
          div(class="card-body")
            form(action='/account/password' method='POST')
              input(type='hidden' name='_csrf', value=_csrf)
              div(class="form-group row")
                label.col-sm-2.col-form-label.font-weight-bold(for='password') New Password
                .col-sm-4
                  input.form-control(type='password' name='password' id='password' autocomplete='new-password')
              div(class="form-group row")
                label.col-sm-2.col-form-label.font-weight-bold(for='confirmPassword') Confirm Password
                .col-sm-4
                  input.form-control(type='password' name='confirmPassword' id='confirmPassword' autocomplete='new-password')
              div(class="form-group")
                .offset-sm-2.col-sm-8.pl-0
                  button.btn.btn.btn-primary(type='submit')
                    i.fa.fa-lock.fa-sm
                    span Change Password
          div(class="card-footer h5") Delete Account
          div(class="card-body")
            form(action='/account/delete' method='POST' onsubmit="return confirm('Are you sure you want to delete your account?');")
            div(class="form-group")
              p.text-muted You can delete your account, but keep in mind this action is irreversible.
              input(type='hidden' name='_csrf', value=_csrf)
              div(class="form-group")
                button.btn.btn.btn-danger(type='submit')
                  i.fa.fa-trash-alt.fa-sm
                  span Delete Account
