extends ../layout-admin


block content
  div(class="content")
    div(class="container")
      div(class="page-title")
        h3 Product
      div(class="row")
        div(class="col-md-12 col-lg-12")
          div(class="card")
            div(class="card-header h5") Product List
            div(class="card-body")
              div(class="row")
                div(class="col-sm-12 col-md-6")


              div(class="table-responsive")
                table(class="table table-striped" id="myTable")
                  thead(class="thead-dark")
                    tr
                      th(scope='col') SNo
                      th(scope='col') Name
                      th(scope='col') Count
                      th(scope='col') Brand
                      th(scope='col') SellPrice
                      th(scope='col') Product Type
                      th Action

                  tbody
                    for item in items
                      tr(class='all' + item.colorcode)
                        td #{item.sno}
                        td #{item.name}
                        td #{item.inventorycount}
                        td #{item.brand}
                        td #{item.sellprice}
                        td #{item.producttype}
                        td
                          a.btn.btn-outline-primary(href="/inventory/productlist/"+item.id) Edit